/*font-family: 'Montserrat', sans-serif;*/

body{
	background-color: #252510;
	font-family: 'Montserrat', sans-serif;
}

#header-nav{
	height: 80px;
	background-color: #aaa;

}
#link{
	text-decoration: none;
	display: inline;
}

#logo{
	width : 500;
	height : 50;
	color: #000;
	font-weight: 600;
	font-size: 38px;
	padding-left: none;
	margin-left: none;
}

#logo section{
	float: right;
	padding-top: 7px;
	padding-left: 10px;
}

#logo #first-part{
	float: left;
	padding-right: 12px;
}