*{	
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

body{
	margin : 0px;
}



header{
	width : 100%;
	background-color: #ddd;
	padding: 10px 30px 10px 30px;
	font-size: 28px;
	text-align: center;
}

header *{
}

#MenuBar{
	padding: 0px;
	background-color: #ddd;
	text-decoration: none;
	text-align: center;
}

#MenuBar div:not(#line){
	padding: 5px 3% 5px 3%;
	margin : 0px;
	margin-top: 5px;
	text-align: center;
	display: inline-block;
}

#line{
	display: block;
	padding: 0px;
	margin: 0px;
	margin : auto;
	width : 100%; 
	height : 3px; 
	background-color: black;
	opacity: 
}

#MenuBar div a:hover{
	font-style: italic;
}
		
#MenuBar div a{
	color: black;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	transition : 0.3s ease;
}

h2{
	padding: 30px 30px 0px 30px;
	margin : 0px;
}

p{
	background-color: #ddd;
	line-height: 2.6;
	margin: 0px;
	padding: 30px;
}

ul li{
	padding: 2px 2px 2px 20px;
	font-size : 20;
	line-height: 2;
}

a.clickableImage{
	text-decoration: none;
	display: block;
	padding: 0px;
	margin : auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width : 470px;
}

h4{
	font-size: 22px;
	width : 100%;
	padding: 10px;
	text-align: center;
	font-size: 20;
	color : #000;
	border: 2px solid black;
	transition : 0.3s ease;
}

h4:hover{
	color: #eee;
	background-color: black;
	border-color: transparent;
}

img{
	display :block;
	margin : auto;
	padding-top: 20px;
	width : 100%;
}

footer{
	background-color: #000;
	height: 140px;
	box-shadow: 0px 50vh 0px 50vh #000;
}

		
/* Animations */

#line{
	animation-name: load;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;

}

header, #MenuBar{
	opacity: 0;
	animation-name: fade-in-header;
	animation-duration: 1s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

header *, #MenuBar *:not(#line, a){
	opacity: 0;
	position: relative;
	animation-name: fade-in;
	animation-duration: 0.4s;
	animation-delay: 0.35s;
	animation-fill-mode: forwards;

}

#main-box{
	opacity: 0;
	position: relative;
	animation-name: fade-in-body;
	animation-duration: 0.4s;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
}

@keyframes load{
	0%{background-color: #648; width : 100px;}
	30%{width : 20%;}
	100%{background-color: #000; width :100%;}
}
@keyframes fade-in-header{
	0%{opacity: 0}
	100%{opacity: 1}
}

@keyframes fade-in{
	0% {opacity: 0; top : -200px;}
	100% {opacity: 1; top : 0px;}
}

@keyframes fade-in-body{
	0% {opacity: 0; top : 200px;}
	100% {opacity: 1; top : 0px;}
}


/* Media Components*/

@media (max-width : 600px){

	#html_css_JS_Button, #dart-flutter_Button{
		width : 75%;
		margin-left: 12.5%;
	}

	a img{
		width : 90%;
		margin : auto;

	}
	a.clickableImage {
		width : 100%;
	}

	#omlette{
		margin-top: 20px;
	}

}


@media (min-width: 600px){
	#omlette{
		width : 400px;
		float: left;
		margin: 40px 20px 5px 20px;
	}
}
